.iiaadfdaeyoun
.ipaclab/base_crawler.py
*.log
*.pot
*.pyc
__pycache__

ipaclab/main.py
ipaclab/base_crawler.py
blur_client/

/pyQt5_example/web.png
/ipaclab/statistic/ipaclab_bugs_check_2020-12-17_수정본.xlsx
